@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

.services{
  display: block;
  padding: 1em;
  background-color: #000;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
.service-item{
  padding: 1em;
  margin-bottom: 1em;
  color:#fff;
  height: 250px;
}
.service-item .title{
  font-size: 2.063rem;
  letter-spacing: 3px;
  text-shadow: 1px 1px 9px #000;
  margin-bottom: .3em;
  text-transform: uppercase;
  margin-top: 2.5em;
}
.service-item .subtitle{
  font-size: 0.875rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.service-item.one{
  background-image: linear-gradient(141deg,transparent,rgba(0,0,0,.95)), url(../img/car-one.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.service-item.two{
  background-image: linear-gradient(141deg,transparent,rgba(0,0,0,.95)), url(../img/car-two.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.service-item.three{
  background-image: linear-gradient(141deg,transparent,rgba(0,0,0,.95)), url(../img/car-interior.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.service-item.four{
  background-image: linear-gradient(141deg,transparent,rgba(0,0,0,.95)), url(../img/car-three.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media all and ( min-width: 700px ) {
  .services{
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(3, 1fr);
  }
}
